@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,400;1,500&display=swap');
body {

}
.navbar {
    background: rgba(0, 0, 0, 0.623);
    position: fixed;
    top: 0px;
    width: 101%;
    left: -10px;
    height: 80px;
}
#spot-log {
    position: absolute;
    width: 134px;
    padding-top: 20px;
    left: 390px;
}
.nav-li-sep {
    position: absolute;
    height: 15px;
    width: 1px;
    background-color: white;
    left: 1370px;
    top: 32px;
}
#nav-li  {
    display: inline;
}
.nav-lixd a {
    text-decoration: none;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 600;
    padding: 17px;
    font-size: 14px;
}
#nav-li a:hover {
    text-decoration: none;
    color: rgb(61, 61, 180);
}
#nav-ul {
    list-style: none;
    position: fixed;
    left: 1060px;
    width: 100%;
    top: 13px;
    height: 50px;
}
.hero-main {
    background-color: rgba(231, 151, 2, 0.651);
    background: rgba(231, 151, 2, 0.651);
    background: radial-gradient(circle,rgba(231, 151, 2, 0.651) 0%,rgba(231, 151, 2, 0.705) 100%);
    width: 100%;
    height: 640px;
    position: fixed;
    top: 0px;
    left: 0;
}
#profpc {
    position: absolute;
    width: 40px;
    border-radius: 100%;
    left: 1405px;
    top: 20px;
}
.profile-pic {
    
}
.profiili {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    background-color: #3498db00;
    color: white;
    padding: 16px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    left: 1447px;
    font-weight: 500;
  }
  
  .profiili:hover {
    color: rgb(61, 61, 180);
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    font-family: 'Poppins', sans-serif;
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 1390px;
    height: 78px;
    padding: 0px;
    font-size: 14px;
    top: 62px;
    border-radius: 3%;
  }
  #tili {
      font-weight: 600;
      padding-top: 7px;
  }
  #logout {
    font-weight: 600;
    color: rgb(112, 112, 112);
}
#logout:hover {
    color:  rgb(61, 61, 180);
}
  
  .dropdown-content a {
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    color:  rgb(61, 61, 180);
    text-decoration: none;
    display: block;
  }
  
  
  .show {display: block;}
  span {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);	 /*  for IE  */

    /* 	for browsers supporting webkit (such as chrome, firefox, safari etc.). */
    -webkit-transform: rotate(90deg);
    display: inline-block;
    position: absolute;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    padding-left: 20px;
    top: 3px;
}

/* text
container
Valitse
plus button */

.container-etu {
    position: relative;
    top: 145px;
}
#valitse-cont, h1 {
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 67px;
    font-weight: 800;
    text-align: center;
}
.nappi-premium {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
    color: white;
    font-weight: 800;
    position: absolute;
    background-color: rgba(40, 177, 102, 0.897);
    border-radius: 25px;
    border: none;
    left: 770px;
    width: 375px;
    height: 55px;
    transition: 0.3s;
    letter-spacing: 2px;
}
.nappi-premium:hover {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
    color: white;
    font-weight: 800;
    position: absolute;
    background-color: rgba(59, 211, 128, 0.897);
    border-radius: 25px;
    border: none;
    left: 770px;
    width: 375px;
    height: 55px;
    letter-spacing: 2px;
}
#kayt-eht {
    position: absolute;
    color: white;
    font-size: 13px;
    color: rgb(241, 241, 241);
    font-weight: 500;
    left: 705px;
    top: 390px;
}
#kayt {
    text-decoration: underline;
    color:  rgb(241, 241, 241);
}
.hero-second {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 640px;
    position: fixed;
    top: 640px;
    left: 0;
}
#ets {
    color: black;
    font-size: 40px;
    position: absolute;
    left: 780px;
    top: 40px;
}
#kuunt {
    position: absolute;
    color: black;
    font-size: 15px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    left: 840px;
    top: 130px;
}
.nappi-avaa {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
    color: rgb(131, 131, 131);
    font-weight: 800;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.897);
    border-radius: 25px;
    border: none;
    left: 800px;
    width: 330px;
    height: 45px;
    transition: 0.3s;
    border: 2px solid rgb(87, 87, 87);
    top: 200px;
    letter-spacing: 2px;
}
.nappi-avaa:hover {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
    color: white;
    font-weight: 800;
    position: absolute;
    background-color: rgb(87, 87, 87);
    border-radius: 25px;
    border: none;
    left: 800px;
    width: 330px;
    height: 45px;
    border: 2px solidrgb(87, 87, 87);
    letter-spacing: 2px;
}
