@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,500;0,600;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

body {
    margin: 0;
    padding: 0;
    background: radial-gradient(circle, rgba(82,130,154,1) 0%, rgba(34,30,75,1) 100%);
    background-attachment: fixed;
}
li {
    padding-left: 15px;
    text-shadow: 1px 1px 2px #000000;
    text-align: justify;
    margin-top: 5px;
    list-style: none;
    height: 50px;
    width: 500px;
    border: 2px solid black;
    background-color:#ea03ff;
    border-radius: 3px;
    font-size: 35px;
    font-family: 'Roboto Mono', monospace;
    transition: 0.5s ease-in-out;
}


button {
    margin-right: 10px;
    float: right;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-family: 'Roboto Mono', monospace;
    outline: none;
    
}
.toggled {
    transition: 0.5s ease-in-out;
    background-color: rgb(69, 255, 62);
    outline: none;
}
.div-otsikko {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    height: 280px;

}
#Otsikko {
    font-size: 50px;
    font-family: 'Roboto', sans-serif;

}
#inputti { 
    margin-top: 50px;
    padding-left: 7px;
    border: 3px solid black;
    border-radius: 7px;
    height: 43.5px;
    width: 440px;
    outline: none;
}
#nappula {
    border: 1px solid black;
    font-family: 'Roboto Mono', monospace;
    border-radius: 7px;
    height: 45px;
    width: 65px;
    background-color: rgba(0, 89, 255, 0.219);
    font-size: 17px;
}
#syota {
    color: rgb(255, 255, 255);
}
.red {
    background-color: red;
    width: 15%;
    border-radius: 20px;
}